{% extends 'vehiculos/base.html' %}
{% load static %}

{% block titulo %}
    Venta de Autos
{% endblock titulo %}
    
{% block contenido %}
    <h1>Autos</h1>
    
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Precio (U$D)</th>
            </tr>
    </thead>
    <tbody>
    {% for c in autos %}
            <tr>
                <td>{{ c.marca}}</td>
                <td>{{ c.modelo }}</td>
                <td>{{ c.color }}</td>
                <td>{{ c.precio }}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>     
{% endblock contenido %}